* {
    font-family: 'Open Sans', sans-serif;

}
html, body {
    height: 100%;
    margin: 0;

}



.cancel {
    border: none;
    margin: 30px;
    margin-left: 0;
    margin-right: 0;
    color: #e3e9f2;
    font-weight: 600;
    background-image: linear-gradient(to bottom, #f22e2e, #e82e36, #de303d, #d33242, #c83447);
    width: 18%;
    height: 50px;
    outline: none;
}

#loginform{
    display: flex;
    flex-direction: column;
}

#loginbutton, #registerbutton{
    width: 80%;
    color: #697c9b;
    font-weight: 600;
    border: none;
    background-image: linear-gradient(to bottom, #18fb5d, #1bec50, #1cdd43, #1cce36, #1ac028);
}

#loginform *, #registerform * {
    height: 40px;
    margin: none;
    margin-top: 4px;
}

#cancel:hover{
    background-image: linear-gradient(to bottom, #fb1818, #ed1521, #de1528, #cf172d, #c01a30);
}

#overlaylogin{
    height: 92%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;

}

#overlayregister{
    height: 92%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;

}

#registerform{
    display: flex;
    flex-direction: column;
}


.overlay-container{
    width: 25%;
    height: 60%;
    background-color: gray;
    text-align: center;
    color: #d5dce8;
    font-size: 0.8rem;
    padding: 5%;

}


#navbar {
    background-color: #c2c7d1;
    display: flex;
    justify-content: space-between;
    height: 8%;
}

#right * {
    border: none;
    background-color: #c2c7d1;
    height: 100%;
    width: 100px;
    transition: all 0.2s;
    outline: none;

}

#right *:hover {
    background-color: #8994a5;
}



#icon {
    height: 48px;
}

#left {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}